.idea/libraries/
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
hadoop/.mvn/wrapper/maven-wrapper.jar
hadoop/.mvn/wrapper/maven-wrapper.properties
hadoop/mvnw
hadoop/mvnw.cmd
rest-api/.mvn/wrapper/maven-wrapper.jar
rest-api/.mvn/wrapper/maven-wrapper.properties
rest-api/mvnw.cmd
rest-api/mvnw
rest-api/.mvn/
hadoop/.mvn/
rest-api/src/main/resources/sensitive.properties
data-objects/target/*
rest-api/target/*
hadoop/target/*
common/target/*

*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
